.big-yellow
  .hero
    .flex
      %h1
        %img.hero-logo{:src=>asset_path("smalls-logo-white.svg"), :width => 300}
    .flex
      %h3
        Where brands and filmmakers get together to make short films
    .flex
      .start-buttons
        %a.start-button{:href=>"/briefs/new", :"data-no-turbolink" => ""}
          Commission a video

        %a.start-button{:href=>"#briefs", :"data-no-turbolink" => ""}
          Browse briefs
  .big-yellow-bg     

%main.blue.large-leader#briefs
  .container
    .live-briefs
      .yellow-header
        %h2
          = pluralize(@briefs.count, "Live brief")

      .brief-list
        - @briefs.each do |brief|
          .brief-list__item
            %h4
              = link_to brief_path(brief) do
                = brief.name
                for 
                = brief.brand_name
            %p
              Closes in
              = distance_of_time_in_words(brief.pitch_deadline, Time.now)

%main.yellow
  .container    
    .private-briefs
      .yellow-header
        %h2
          = pluralize(@private_briefs.count, "Private brief")

        %p
          Private briefs are only available to registered users on an invitation basis.

        .brief-list
          - @private_briefs.each do |brief|
            .brief-list__item
              %h4
                = link_to brief_path(brief) do
                  = brief.name
                  for 
                  = brief.brand_name

              %p
                Closes in
                = distance_of_time_in_words(brief.pitch_deadline, Time.now) rescue nil
%main.dark-blue
  .container
    .centered
      %p
        For demo purposes:
      %p
        %a.start-button{:href=>"/briefs/fake", :"data-no-turbolink" => ""}
          Create a demo brief
        

:javascript
  $(function() {
    $('.big-yellow-bg').on('webkitAnimationEnd', function(e) {
      $(this).addClass('visible');
    });
  });      