.main
  .smalls-branding
    %a{:href=>"/", :"data-no-turbolink" => "true"}
      %img{:src=>asset_path("smalls-logo.svg"), :width => 100}

  = render partial: "pitches/display"

  %polymer-element{name: "pitch-show"}
    %template
      %pitch-display{pitch: "{{pitch}}"}

    :javascript
      Polymer('pitch-show', {

        ready: function() {
          this.pitch = #{@pitch.to_json};
        }

      });

  %pitch-show
%main.blue
  .container
    .centered
      %p
        = link_to "Back to brief", brief_path(@pitch.brief), :class => "btn start-button"

        = link_to "Edit your pitch", edit_brief_pitch_path(@pitch.brief, @pitch), :class => "btn start-button"
%main.dark-blue
  .container
    .centered
      = link_to "Admin", admin_brief_pitch_path(@pitch.brief, @pitch), :class => "btn start-button"