- @body_styles = "full fullbleed layout vertical"

= render partial: "briefs/display"

%polymer-element{name: "brief-maker", :flex=>""}
  
  %template
    :scss
      .intro {
        max-width: 36em;
        margin: auto;
      }
      .narrow {
        max-width: 36em;
        margin: auto;
      }
      .main {
        min-height: 80vh;
      }
      .progress {
        
      }

      .next {
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      .next-right {
        float: right;
      }

      paper-fab.arrow-forward {
        background: #259b24;
        vertical-align: middle;
        margin-left: 2rem;
        margin-right: 2rem;
      }

      paper-fab.arrow-back {
        background: #777777;
        vertical-align: middle;
        margin-left: 2rem;
        margin-right: 2rem;
      }

      .progress-bar {
        margin-bottom: 1rem;
      }

      
      .cards .page{
        border: 1px solid #ddd;
        background-color: #fff;
        max-width: 40em;
        margin: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
      }

      .main-drawer {
        background-color: #ffee55;
        .smalls-branding {
          margin: auto;
          margin-top: 2rem;
          text-align: center;
        }
      }

      .main-panel {
        padding-top: 2rem;
        //min-height: 5000px;
        
      }

      
      

      
  
    

    %core-drawer-panel
      %core-header-panel.main-drawer{drawer:""}
        .smalls-branding
          %a{:href=>"/", :"data-no-turbolink" => "true"}
            %img{:src=>asset_path("smalls-logo.svg"), :width => 100}
        %core-menu{selected:"{{page}}"}
          %core-item{icon:"label-outline", label:"Start"}
          %core-item{icon:"label-outline", label:"Overview"}
          %core-item{icon:"label-outline", label:"Creative"}
          %core-item{icon:"label-outline", label:"Objectives"}
          %core-item{icon:"label-outline", label:"Timings"}
          %core-item{icon:"label-outline", label:"Practicalities"}
          %core-item{icon:"label-outline", label:"Team"}
          %core-item{icon:"label-outline", label:"Preview"}
        = render partial: "briefs/nav"
  
      %core-header-panel.main-panel{main:""}
        %button{:"core-drawer-toggle"=>"", toggle: "", drawer: ""}
        = form_for @brief, :html => {:as => "ajax-form"} do |f|  

          %core-animated-pages.cards{:selected=>"{{page}}", :transitions=>"hero-transition cross-fade", :"on-core-animated-pages-transition-end"=>"{{complete}}"}              

            %section
              %div{:hero=>"", :center=>"", :layout=>"", :horizontal=>"", :"center-justified"=>""}
                %h1 Let’s commission a video, shall we?
              %div.page{:"cross-fade"=>""}
                .intro
                  
                  %p
                    %strong
                      The Smalls
                    is a network of talented film makers who make award-winning short form video content. Viral, music, vine, advertorial, all kinds of video.

                  %p
                    We’ve made this tool to help you find the right person to make yours.
                  
                  %p 
                    Take a moment to think about what you’re trying to achieve with your project.
                  %p
                    Got it? Let's begin…
                = render partial: "briefs/next"
                

            %section
              %div{:hero=>"", :center=>"", :layout=>"", :horizontal=>"", :"center-justified"=>""}
                %h1 An overview of your project
              .page{:"cross-fade"=>""}
                .intro
                  %p
                    Imagine you are talking to a film-maker one-on-one. What would you say to capture their interest in your project?

                .narrow
                  %paper-input-decorator{:label => "What is the name of this project?", :floatingLabel => "", :layout => "", :vertical => ""}
                    %paper-autogrow-textarea
                      %textarea{:name=>"brief[name]", :value => "{{brief.name}}"}

                  %paper-input-decorator{:label => "What is the name of the brand, product or service the video will promote?", :floatingLabel => "", :layout => "", :vertical => ""}
                    %paper-autogrow-textarea
                      %textarea{:name=>"brief[brand_name]", :value => "{{brief.brand_name}}"}

                  %paper-input-decorator{:label => "How would you describe this project?", :floatingLabel => "", :layout => "", :vertical => ""}
                    %paper-autogrow-textarea
                      %textarea{:name=>"brief[description]", :value => "{{brief.description}}"}

                  
                = render partial: "briefs/next" 
            %section
              %div{:hero=>"", :center=>"", :layout=>"", :horizontal=>"", :"center-justified"=>""}
                %h1 Creative brief
              .page{:"cross-fade"=>""}
                .intro
                  %p
                    Now think about what you’d like to achieve creatively with this project.

                .narrow
                  %paper-input-decorator{:label => "What is the style and general aesthetic you’re looking for?", :floatingLabel => "", :layout => "", :vertical => ""}
                    %paper-autogrow-textarea
                      %textarea{:name=>"brief[aesthetic]", :value => "{{brief.aesthetic}}"}
                = render partial: "briefs/next"  
            %section
              %div{:hero=>"", :center=>"", :layout=>"", :horizontal=>"", :"center-justified"=>""}
                %h1 Your objectives
              .page{:"cross-fade"=>""}
                .intro
                  %p
                    Now think about what you’re hoping to achieve by making this video.
    
                .narrow
                  %paper-input-decorator{:label => "Why are you commissioning this video?", :floatingLabel => "", :layout => "", :vertical => ""}
                    %paper-autogrow-textarea
                      %textarea{:name => "brief[why_commissioning]", :value => "{{brief.why_commissioning}}"}

                  %paper-input-decorator{:label => "What is your challenge or business objective?", :floatingLabel => "", :layout => "", :vertical => ""}
                    %paper-autogrow-textarea
                      %textarea{:name=>"brief[objectives]", :value => "{{brief.objectives}}"}
                    
                  %paper-input-decorator{:label => "What will success look like?", :floatingLabel => "", :layout => "", :vertical => ""}
                    %paper-autogrow-textarea
                      %textarea{:name=>"brief[success_criteria]", :value => "{{brief.success_criteria}}"}

                = render partial: "briefs/next"
            
            %section
              %div{:hero=>"", :center=>"", :layout=>"", :horizontal=>"", :"center-justified"=>""}
                %h1 Timings
              .page{:"cross-fade"=>""}
                %div{:center=>"", :layout=>"", :horizontal=>"", :"center-justified"=>""}
                  %div{:flex=>""}
                    %h2{:center=>"", :layout=>"", :horizontal=>"", :"center-justified"=>""}
                      What is the pitch deadline?
                    %div{:"cross-fade"=>"", :layout=>"", :horizontal=>"", :center=>"", :"center-justified"=>"", :class=>"light-theme" }
                      %d-calendar{:date=>"{{brief.pitch_deadline}}"}
                      %input{:type=>"hidden", :name=>"brief[pitch_deadline]", :value=>"{{brief.pitch_deadline}}"}
                  %div{:flex=>""}
                    %h2{:center=>"", :layout=>"", :horizontal=>"", :"center-justified"=>""}
                      And the delivery deadline?
                    %div{:"cross-fade"=>"", :layout=>"", :horizontal=>"", :center=>"", :"center-justified"=>"", :class=>"light-theme" }
                      %d-calendar{:date=>"{{brief.delivery_deadline}}"}
                      %input{:type=>"hidden", :name=>"brief[delivery_deadline]", :value=>"{{brief.delivery_deadline}}"}
                = render partial: "briefs/next"

            %section
              %div{:hero=>"", :center=>"", :layout=>"", :horizontal=>"", :"center-justified"=>""}
                %h1 Practical details
              .page{:"cross-fade"=>""}
                .intro

                .narrow
                  %paper-input-decorator{:label => "What is your budget?", :floatingLabel => "", :layout => "", :vertical => ""}
                    %input{:is=>"core-input", :name => "brief[budget_description]", :value => "{{brief.budget_description}}"}

                  %paper-input-decorator{:label => "Where will the video be used?", :floatingLabel => "", :layout => "", :vertical => ""}
                    %input{:is=>"core-input", :name => "brief[destination]", :value=>"{{brief.destination}}"}

                  %paper-input-decorator{:label => "Do you have a technical specification?", :floatingLabel => "", :layout => "", :vertical => ""}
                    %paper-autogrow-textarea
                      %textarea{:name=>"brief[technical_specification", :value=> "{{brief.technical_specification}}"}
                = render partial: "briefs/next"

            %section
              %div{:hero=>"", :center=>"", :layout=>"", :horizontal=>"", :"center-justified"=>""}
                %h1 Finally, a little about you and the team
              %div.page{:"cross-fade"=>""}
                .intro

                .narrow
                  %paper-input-decorator{:label => "What's the name of your company?", :floatingLabel => "", :layout => "", :vertical => ""}
                    %input{:is=>"core-input", :name => "brief[company_name]", :value => "{{brief.company_name}}"}
                  %paper-input-decorator{:label => "If you're working for another brand, what is it?", :floatingLabel => "", :layout => "", :vertical => ""}
                    %input{:is=>"core-input", :name => "brief[brand_name]", :value => "{{brief.brand_name}}"}
                  %paper-input-decorator{:label => "Who is in charge of the project?", :floatingLabel => "", :layout => "", :vertical => ""}
                    %input{:is=>"core-input", :name => "brief[brand_name]", :value => "{{brief.brand_name}}"}

                  %paper-input-decorator{:label => "What's their email?", :floatingLabel => "", :layout => "", :vertical => ""}
                    %input{:is=>"core-input", :name => "brief[email]", :value => "{{brief.email}}"}

                  %paper-input-decorator{:label => "Phone number?", :floatingLabel => "", :layout => "", :vertical => ""}
                    %input{:is=>"core-input", :name => "brief[telephone]", :value => "{{brief.telephone}}"}

                  %paper-input-decorator{:label => "Twitter handle?", :floatingLabel => "", :layout => "", :vertical => ""}
                    %input{:is=>"core-input", :name => "brief[twitter_handle]", :value => "{{brief.twitter_handle}}"}
                = render partial: "briefs/next"

            %section
              %div{:hero=>"", :center=>"", :layout=>"", :horizontal=>"", :"center-justified"=>""}
                %h1 Preview your brief
              %div.page{:"cross-fade"=>""}
                .intro
                  %p
                    This is how your brief will appear to a film maker, so take a look and see if you need to make any changes.   
                  %p
                    %button{:type => "submit"} Publish this brief 
                = render partial: "briefs/next" 

              %div.preview{:"cross-fade"=>""}
                %brief-display{:brief => "{{brief}}"}

  :javascript
    Polymer('brief-maker', {

      page: 0,

      forward: function(){
        this.page = this.page +1;
      },

      back: function(){
        this.page = this.page -1;
      },

      numberOfPages: 8,

      ready: function() {
        this.brief = #{@brief.to_json};
      }

    });

%brief-maker
  


  