.main
  .smalls-branding
    %a{:href=>"/", :"data-no-turbolink" => "true"}
      %img{:src=>asset_path("smalls-logo.svg"), :width => 100}

  = render partial: "briefs/display"

  %polymer-element{name: "brief-show"}
    %template
      %brief-display{brief: "{{brief}}"}

    :javascript
      Polymer('brief-show', {

        ready: function() {
          this.brief = #{@brief.to_json};
        }

      });

  %brief-show


%main.blue
  .container
    .centered
      
      %p
        = link_to "Respond to this brief", new_brief_pitch_path(@brief), :class => "btn start-button"
        = link_to "Edit", edit_brief_path(@brief), :class => "btn start-button"
        = link_to "Admin", admin_brief_path(@brief), :class => "btn start-button"

%main.dark-blue
  .container
    .centered
      %p
        %a.start-button{:href=>"/briefs/#{@brief.friendly_id}/pitches/fake", :"data-no-turbolink" => ""}
          Create a demo pitch in response

